#scoreboard {
    border: solid;
    display: flex;
    justify-content: space-between;
}

#battlefield {
    border: dotted;
    height: 25em;
}

#scoreHeader {
    text-align: center;
}

#playerHand {
    border: solid;
    display: flex
}

.playerCard {
    border: solid;
}

.cardButton {
    text-align: center;
}

.playerFieldCard {
    border: solid;
}